.profile{
    width: 1600px;
    color: #2d4271;
}

.btn-hidden{
    display: none;
}

.ps-md-4{
    margin-left: 40px;
    width: 950px;
    border: 1px solid #cad2c5;
    border-radius: 10px;
}
.profile{
    width: 100%;
}
.container_profile{
   display: flex;
   justify-content: center;
   align-items: center;
}
.content{
    display: flex;

}

.toggle-edit-form{
    color: var(--c-primary);
}

.toggle-edit-form:hover{
    color: #8d99ae;
}

.d-inline-flex{
    font-size: 20px;
    color: #264653;
}

.d-inline-flex:hover{
    color: var(--c-primary);
}

.list-unstyled{
    padding-left: 20px;
}

.list-unstyled a{
    font-size: 15px;
    font-weight: 500;
}
.heading-profile {
    display: flex;
    justify-content: space-between;
}
.heading-profile div:nth-of-type(1){
    width: 80%;
}
.heading-profile div:nth-of-type(2){
    width: 20%;
}
.heading-profile h5{
    font-size: 24px;
}

.heading-profile p{
    font-size: 18px;
}



.row{
    font-size: 16px;
}

.setting-label{
    font-weight: 600;
}

.box-items-left{
    border: 1px solid #cad2c5;
    border-radius: 10px;
    height: 400px;
}

.miss-pass{
    font-weight: 600;
    font-size: 16px;
}

.nav-item .nav-link{
    color: #264653;
    font-weight: 600;

}
.setting-item{
    border-top: 0.5px solid #cad2c5;
    min-height: 70px;
   display: flex;
   align-items: center;
    
}
.setting-item .setting-label{
    color: #2d4271;
    
}
.setting-item .display-form span{
    color: #2d4271;
    font-weight: 400;
}
.setting-item .display-form-content p{
    color: #2d4271;
    font-weight: 400;
}
.toggle-edit-form{
    float: right;
}
.setting-item .row .display-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setting-item .row .col-12 .edit-form{
position: relative;
}
.tour-list{
    display: flex; flex-direction: column;
    height: 250px;
  overflow: auto;
  width: 900px;
  gap: 1rem;
 
}
.tour-list::-webkit-scrollbar{
    width: 5px;
  height: 8px;
  background-color: #aaa;
}
.tour-item{
    display: flex;gap: 0.5rem; 
    justify-content: space-around;
    border-radius: 10px;
    border: 1px solid rgba(158, 158, 158, 0.5);
    box-shadow: 0px 5px 5px 0px rgba(58, 58, 58, 0.5); 
    align-items: center;
}
.tour-item .tour-item-first-side{
    font-weight: 600;
    font-size: 17px;
    color:  #2d4271;
    
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tour-item .tour-item-first-side span span{
    color: red;
    font-weight: 500;
}
.tour-item .tour-item-first-side>span:nth-of-type(1){
    font-weight: 500;
    font-size: 15px;
}


.tour-item .tour-item-second-side span{
    color: black;
    font-size: 14px;
}
.tour-item .tour-item-second-side .tour-item-second-side-start p{
    font-weight: 600;
    color: #2d7133;
}
.tour-item .tour-item-second-side .tour-item-second-side-end p{
    font-weight: 600;
    color: #97a13c;
}
.tour-item .tour-item-third-side p span{
font-size: 1rem;
font-weight: 500;
}
.tour-item .tour-item-third-side span{
    font-weight: 500;
}
.tour-item .tour-item-third-side span span{
    color: red
}
.tour-item .tour-item-four-side .bound{
    border-radius: 10px;
    width: 40px;
    height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tour-item .tour-item-four-side {
    display: flex;
    flex-direction: column;
}
.tour-item .tour-item-four-side .boundCart{
    border-radius: 10px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tour-item .tour-item-four-side .boundCart span{
    color:green;
    font-size: 14px;
    text-align: center;
}
.tour-item .tour-item-four-side .bound span{
    color:white;
    font-size: 14px;
    text-align: center;
}
.tour-item .tour-item-four-side .dahuy{
background: rgb(216, 0, 0);
}
.tour-item .tour-item-four-side .sua{
    background: rgb(216, 187, 0);
}
.tour-item .tour-item-four-side .choxacnhan{
background: rgb(0, 0, 226);
}
.tour-item .tour-item-four-side .dadat{
background: green;
}
